.shopcategory-banner{
    display: flex;
    margin: 30px auto;
    width: 90%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 10px 70px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 10px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-product{
    margin: 30px 35px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    gap: 15px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #423d3d;
    font-size: 18px;
    font-weight: 500;
}